<div class="container mt-5">
  <div class="card p-3">
    <div class="row">
      <div class="col-6">
        <form #orderForm="ngForm" (ngSubmit)="placeOrder(orderForm)">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Full Name</mat-label>
            <input
              type="text"
              matInput
              [(ngModel)]="orderDetails.fullName"
              placeholder="Full Name"
              name="fullName"
            />
          </mat-form-field>
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Full Address</mat-label>
            <input
              type="text"
              matInput
              [(ngModel)]="orderDetails.fullAddress"
              placeholder="Full Address"
              name="fullAddress"
            />
          </mat-form-field>
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Contact Number</mat-label>
            <input
              type="text"
              matInput
              [(ngModel)]="orderDetails.contactNumber"
              placeholder="Contact Number"
              name="contactNumber"
            />
          </mat-form-field>
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Alternate Contact Number</mat-label>
            <input
              type="text"
              matInput
              [(ngModel)]="orderDetails.altContactNumber"
              placeholder="Alternate Contact Number"
              name="altContactNumber"
            />
          </mat-form-field>

          <div align="right">
            <button type="submit" mat-stroked-button color="primary">
              Place Order
            </button>
          </div>
        </form>
      </div>
      <div class="col-6">
        <table class="table">
          <thead class="thead">
            <tr>
              <th>Name</th>
              <th>Amount</th>
              <th>Quantity</th>
              <th>Total</th>
            </tr>
          </thead>
          <tbody class="tbody">
            <tr *ngFor="let product of productDetails">
              <td>{{ product.productName }}</td>
              <td>{{ product.productDiscountedPrice | currency: "Rs. " }}</td>
              <td>
                <select
                  #quantitySelect
                  class="form-select"
                  [ngModel]="getQtyForProduct(product.productId)"
                  (change)="
                    onQuantityChange(product.productId, quantitySelect.value)
                  "
                >
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                </select>
              </td>
              <td>
                {{
                  getCalculatedTotal(
                    product.productId,
                    product.productDiscountedPrice
                  ) | currency: "Rs. "
                }}
              </td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td><b>Grand Total</b></td>
              <td>
                <b>{{ getCalculatedGrandTotalCost() | currency: "Rs. " }}</b>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
