<mat-toolbar color="primary">
  <span>E-Commerce Application</span>
  <span class="space-buttons"></span>
  <button
    *ngIf="!isLoggedIn()"
    mat-raised-button
    color="primary"
    routerLink="/login"
  >
    Login
  </button>
  <button
    *ngIf="isLoggedIn()"
    mat-raised-button
    color="warn"
    (click)="onLogoutClick()"
  >
    Logout
  </button>
</mat-toolbar>

<mat-toolbar *ngIf="isLoggedIn()" color="primary">
  <button mat-raised-button color="primary" routerLink="/">Home</button>
  <button
    *ngIf="hasRoles(['Admin'])"
    mat-raised-button
    color="primary"
    routerLink="/add-new-product"
  >
    Add new product
  </button>
  <button
    *ngIf="hasRoles(['Admin'])"
    mat-raised-button
    color="primary"
    routerLink="/show-product-details"
  >
    Show product details
  </button>
</mat-toolbar>
