.product-info {
  font-size: medium;
}

.image-container {
  height: 500px;
  position: relative;
}

.product-main-image {
  max-width: 80%;
  max-height: 80%;
  object-fit: contain;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
